.home {
    height: 100%;
    width: 100%;
    padding: 100px 0;
    display: flex;
    justify-content: center;

    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &--left, &--right {
            flex: 1 1 45%; // Menggunakan flex-basis agar elemen dapat dibungkus

            .left_container {
                width: 80%;
                line-height: 1.1;;

                h1, h2 {
                    font-size: 45px;
                }

                h1 {
                    color: $primary;
                }

                p {
                    width: 70%;
                    line-height: 1.5;
                }

                button {
                    background-color: $primary;
                    border: none;
                    outline: none;
                    border-radius: 25px;
                    padding: 15px 20px;
                    margin-top: 30px;

                    a {
                        text-decoration: none;
                        color: white;
                        font-weight: bold;
                    }

                    &:hover {
                        background-color: $secondary;
                    }
                }
            }

            .right_container {
                height: 100%;
                display: flex;
                justify-content: end;
                align-items: center;
                right: 0;

                .img-container {
                    position: relative;
                    height: 500px;
                    width: 500px;

                    .img-1 {
                        height: 500px;
                    }

                    .img-2 {
                        height: 130px;
                        position: absolute;
                        bottom: -30px;
                        right: -30px;
                    }
                }
            }
        }
    }
}
