.home {
    height: 100%;
    width: 100%;
    background-color: black;

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        
        @include tablet {
            height: 44rem;
            grid-template-columns: 1fr;
            align-items: start;
        }
        
        &--left {
            width: 80%;

            h1 {
                color: $primary;
                font-size: 50px;
                margin: 15px;
            }
            
            h2 {
                font-size: 50px;
                margin: 15px;
            }
            
            p {
                width: 80%;
                margin: 15px;
                line-height: 1.2;
            }

            @include tablet {
                h1, h2 {
                    font-size: 40px;
                }
            }
            
            #btn {
                margin: 15px;
                background-color: $primary;
                border: none;
                outline: none;
                padding: 14px 24px;
                border-radius: 25px;

                a {
                    color: white;
                    font-weight: bold;
                    text-decoration: none;
                }

                &:hover {
                    background-color: $secondary;
                }
            }
        }

        &--right {
            height: 500px;
            width: 600px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            .img-1 {
                position: absolute;
                height: 500px;
                right: 0;
                bottom: 0;
            }

            .img-2 {
                position: absolute;
                height: 150px;
                right: -30px;
                bottom: -30px;
            }

            @include tablet {
                height: 100%;

                .img-1 {
                    height: 350px;
                }
    
                .img-2 {
                    height: 100px;
                }
            }
        }
    }
}