@import 'colors';
@import 'media-queries';

%links_item {
    li {
        padding: 12px;
        list-style: none;

        a {
            color: $darkOne;
            font-family: 'Times New Roman', Times, serif;
            font-size: 24px;
            text-decoration: none;
    
            &.active {
                color: $primary;
                border-bottom: 2px solid $primary;
            }
    
            &:hover {
                color: $secondary;
            }
        }
    
        #btn {
            background-color: $primary;
            color: $light;
            padding: 4px 20px;
            border-radius: 13px;
    
            &:hover {
                background-color: $secondary;
            }
        }
    }
}

.navbar {
    // background-color: aqua;
    background-color: $light;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 0 24px;
    font-size: 24px;
    position: absolute;
    z-index: 3;

    &__logo {
        font-weight: bold;
    }

    &__bars {
        opacity: 0;
        
        @include tablet {
            opacity: 1;
            transition: all 0.5s ease;
            
            & a i {
                color: $darkOne;
            }
        }
    }

    &__links {
        display: flex;

        @extend %links_item;

        @include tablet {
           display: none;
           transition: all 0.5s ease;
        }
    }
}

.hide__bars {
    border-top: 2px solid $primary;
    background-color: $light;
    position: absolute;
    height: 300px;
    // top: 80px;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    transition: all 1s ease-in-out;

    @extend %links_item;
    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &.active {
        top: 80px;
        transition: all 0.8s ease;
    }
}