* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumb Sans", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

header .hide__bars li, header .navbar__links li {
  padding: 12px;
  list-style: none;
}
header .hide__bars li a, header .navbar__links li a {
  color: #000000;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  text-decoration: none;
}
header .hide__bars li a.active, header .navbar__links li a.active {
  color: #FC8A22;
  border-bottom: 2px solid #FC8A22;
}
header .hide__bars li a:hover, header .navbar__links li a:hover {
  color: #ffa44f;
}
header .hide__bars li #btn, header .navbar__links li #btn {
  background-color: #FC8A22;
  color: #FFFFFF;
  padding: 4px 20px;
  border-radius: 13px;
}
header .hide__bars li #btn:hover, header .navbar__links li #btn:hover {
  background-color: #ffa44f;
}

header {
  position: fixed;
  height: 100px;
  width: 100%;
  top: 0;
  z-index: 10;
}
header .navbar {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  font-size: 24px;
  z-index: 10;
}
header .navbar__logo img {
  height: 80px;
}
header .navbar__bars {
  opacity: 0;
}
@media screen and (max-width: 790px) {
  header .navbar__bars {
    opacity: 1;
    transition: all 0.5s ease;
  }
  header .navbar__bars a i {
    color: #000000;
  }
}
header .navbar__links {
  display: flex;
}
@media screen and (max-width: 790px) {
  header .navbar__links {
    display: none;
    transition: all 0.5s ease;
  }
}
header .hide__bars {
  border-top: 2px solid #FC8A22;
  background-color: #FFFFFF;
  position: absolute;
  height: 300px;
  top: -500px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  z-index: -1;
}
header .hide__bars ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .hide__bars.active {
  top: 85px;
  transition: all 0.8s ease;
}

main {
  margin-top: 100px;
  padding: 0 50px;
}
main .home {
  height: 100%;
  width: 100%;
  padding: 100px 0;
  display: flex;
  justify-content: center;
}
main .home__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
main .home__container--left, main .home__container--right {
  flex: 1 1 45%;
}
main .home__container--left .left_container, main .home__container--right .left_container {
  width: 80%;
  line-height: 1.1;
}
main .home__container--left .left_container h1, main .home__container--left .left_container h2, main .home__container--right .left_container h1, main .home__container--right .left_container h2 {
  font-size: 45px;
}
main .home__container--left .left_container h1, main .home__container--right .left_container h1 {
  color: #FC8A22;
}
main .home__container--left .left_container p, main .home__container--right .left_container p {
  width: 70%;
  line-height: 1.5;
}
main .home__container--left .left_container button, main .home__container--right .left_container button {
  background-color: #FC8A22;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 20px;
  margin-top: 30px;
}
main .home__container--left .left_container button a, main .home__container--right .left_container button a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
main .home__container--left .left_container button:hover, main .home__container--right .left_container button:hover {
  background-color: #ffa44f;
}
@media screen and (max-width: 790px) {
  main .home__container--left .left_container, main .home__container--right .left_container {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
main .home__container--left .right_container, main .home__container--right .right_container {
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  right: 0;
}
main .home__container--left .right_container .img-container, main .home__container--right .right_container .img-container {
  position: relative;
  height: 500px;
  width: 500px;
}
main .home__container--left .right_container .img-container .img-1, main .home__container--right .right_container .img-container .img-1 {
  height: 500px;
}
@media screen and (max-width: 790px) {
  main .home__container--left .right_container .img-container .img-1, main .home__container--right .right_container .img-container .img-1 {
    height: 400px;
  }
}
main .home__container--left .right_container .img-container .img-2, main .home__container--right .right_container .img-container .img-2 {
  height: 130px;
  position: absolute;
  bottom: -30px;
  right: -30px;
}
@media screen and (max-width: 790px) {
  main .home__container--left .right_container .img-container .img-2, main .home__container--right .right_container .img-container .img-2 {
    height: 70px;
  }
}
@media screen and (max-width: 790px) {
  main .home__container--left .right_container .img-container, main .home__container--right .right_container .img-container {
    margin-top: 20px;
    height: 400px;
    width: 400px;
  }
  main .home__container--left .right_container .img-container .img-1, main .home__container--right .right_container .img-container .img-1 {
    height: 400px;
  }
  main .home__container--left .right_container .img-container .img-2, main .home__container--right .right_container .img-container .img-2 {
    height: 100px;
    bottom: -30px;
    right: -30px;
  }
}
main .our-company__container--title, main .products__container--title, main .about__container--title {
  font-family: "Times New Roman", Times, serif;
  font-size: 45px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
}
main .about {
  margin: 50px 0;
  height: 100%;
  width: 100%;
}
main .about__container--content {
  padding: 10px 0;
}
main .about__container--content::after {
  content: "";
  display: table;
  clear: both;
}
main .about__container--content img {
  float: right;
  height: 500px;
  padding: 20px;
}
@media screen and (max-width: 790px) {
  main .about__container--content img {
    height: 400px;
  }
}
main .about__container--content p {
  font-size: large;
  padding: 10px 0;
  line-height: 1.5;
}
main .products {
  height: auto;
  width: 100%;
  margin: 50px 0;
}
main .products__container {
  background-color: aqua;
}
main .products__container--content {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .products__container--content .slider-wrapper {
  width: 95%;
  overflow-x: auto;
  position: relative;
}
main .products__container--content .slider-wrapper::-webkit-scrollbar {
  display: none;
}
main .products__container--content .slider-wrapper .image-list {
  display: flex;
  gap: 7px;
}
main .products__container--content .slider-wrapper .image-list .img-content {
  position: relative;
  height: 300px;
  width: 200px;
  margin-right: 10px;
}
main .products__container--content .slider-wrapper .image-list .img-content img {
  background-color: beige;
  height: inherit;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease;
}
main .products__container--content .slider-wrapper .image-list .img-content img:hover {
  transform: scale(1.1);
  z-index: 4;
}
main .our-company {
  height: 100%;
  width: 100%;
}
main .our-company__container--content {
  padding: 10px 0;
}
main .our-company__container--content p {
  font-size: large;
  line-height: 1.5;
}

.footer__container {
  background-color: #FC8A22;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 60px 20px;
  margin-top: 100px;
}
.footer__container__logo img {
  height: 100px;
}
.footer__container__content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer__container__content .content--left, .footer__container__content .content--right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__container__content .content--left .content-item, .footer__container__content .content--right .content-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
}
.footer__container__content .content--left i, .footer__container__content .content--right i {
  color: white;
  font-size: 35px;
}
.footer__container__content .content--left a, .footer__container__content .content--right a {
  text-decoration: none;
  color: white;
}
.footer__container__content .content--left h1, .footer__container__content .content--right h1 {
  font-size: 20px;
  color: white;
}
.footer__container__content .content--right .content-item {
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 790px) {
  .footer__container__content .content--right .content-item {
    flex-direction: column;
    align-items: start;
  }
}

.copyright__bottom {
  background-color: #FC8A22;
  color: white;
  display: flex;
  padding: 20px;
  border-top: 1px solid white;
}/*# sourceMappingURL=styles.css.map */