* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumb Sans', sans-serif;
    // background-color: aqua;
}

@import 'navbar';

main {
    margin-top: 100px; 
    @import 'home-section';
}