* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumb Sans', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
    // background-color: aqua;
}

@import 'navbar';

main {
    // background-color: aqua;
    margin-top: 100px; 
    padding: 0 50px;

    @import 'home-container';
    @import 'about-container';
    @import 'products-container';
}