* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumb Sans", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

.hide__bars li, .navbar__links li {
  padding: 12px;
  list-style: none;
}
.hide__bars li a, .navbar__links li a {
  color: #000000;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  text-decoration: none;
}
.hide__bars li a.active, .navbar__links li a.active {
  color: #FC8A22;
  border-bottom: 2px solid #FC8A22;
}
.hide__bars li a:hover, .navbar__links li a:hover {
  color: #ffa44f;
}
.hide__bars li #btn, .navbar__links li #btn {
  background-color: #FC8A22;
  color: #FFFFFF;
  padding: 4px 20px;
  border-radius: 13px;
}
.hide__bars li #btn:hover, .navbar__links li #btn:hover {
  background-color: #ffa44f;
}

.navbar {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 0 24px;
  font-size: 24px;
  position: fixed;
  top: 0;
  z-index: 3;
}
.navbar__logo img {
  height: 80px;
}
.navbar__bars {
  opacity: 0;
}
@media screen and (max-width: 790px) {
  .navbar__bars {
    opacity: 1;
    transition: all 0.5s ease;
  }
  .navbar__bars a i {
    color: #000000;
  }
}
.navbar__links {
  display: flex;
}
@media screen and (max-width: 790px) {
  .navbar__links {
    display: none;
    transition: all 0.5s ease;
  }
}

.hide__bars {
  border-top: 2px solid #FC8A22;
  background-color: #FFFFFF;
  position: absolute;
  height: 300px;
  top: -500px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  transition: all 1s ease-in-out;
}
.hide__bars ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hide__bars.active {
  top: 100px;
  transition: all 0.8s ease;
}

main {
  margin-top: 100px;
  padding: 0 50px;
}
main .home {
  height: 100%;
  width: 100%;
}
main .home__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
@media screen and (max-width: 790px) {
  main .home__container {
    height: 44rem;
    grid-template-columns: 1fr;
    align-items: start;
  }
}
main .home__container--left {
  width: 80%;
}
main .home__container--left h1 {
  color: #FC8A22;
  font-size: 50px;
  margin: 15px;
}
main .home__container--left h2 {
  font-size: 50px;
  margin: 15px;
}
main .home__container--left p {
  width: 80%;
  margin: 15px;
  line-height: 1.2;
}
@media screen and (max-width: 790px) {
  main .home__container--left h1, main .home__container--left h2 {
    font-size: 40px;
  }
}
main .home__container--left #btn {
  margin: 15px;
  background-color: #FC8A22;
  border: none;
  outline: none;
  padding: 14px 24px;
  border-radius: 25px;
}
main .home__container--left #btn a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
main .home__container--left #btn:hover {
  background-color: #ffa44f;
}
main .home__container--right {
  height: 500px;
  width: 600px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .home__container--right .img-1 {
  position: absolute;
  height: 500px;
  right: 0;
  bottom: 0;
}
main .home__container--right .img-2 {
  position: absolute;
  height: 150px;
  right: -30px;
  bottom: -30px;
}
@media screen and (max-width: 790px) {
  main .home__container--right {
    height: 100%;
  }
  main .home__container--right .img-1 {
    height: 350px;
  }
  main .home__container--right .img-2 {
    height: 100px;
  }
}
main .our-company__container--title, main .products__container--title, main .about__container--title {
  font-family: "Times New Roman", Times, serif;
  font-size: 45px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
}
main .about {
  margin: 50px 0;
  height: 100%;
  width: 100%;
}
main .about__container--content {
  padding: 10px 0;
}
main .about__container--content::after {
  content: "";
  display: table;
  clear: both;
}
main .about__container--content img {
  float: right;
  height: 500px;
  padding: 20px;
}
@media screen and (max-width: 790px) {
  main .about__container--content img {
    height: 400px;
  }
}
main .about__container--content p {
  font-size: large;
  padding: 10px 0;
  line-height: 1.5;
}
main .products {
  height: auto;
  width: 100%;
  margin: 50px 0;
}
main .products__container {
  margin: 20px 0;
}
main .products__container--title {
  margin-bottom: 30px;
}
main .products__container--content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10vh;
}
main .products__container--content::after {
  content: "";
  display: table;
  clear: both;
}
main .our-company {
  height: 100%;
  width: 100%;
}
main .our-company__container--content {
  padding: 10px 0;
}
main .our-company__container--content p {
  font-size: large;
  line-height: 1.5;
}/*# sourceMappingURL=styles.css.map */